<<<<<<< HEAD

.navbar {

   position: fixed;
   left: 0;
   bottom: 100;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   display: flex;
   align-items: flex-start;
   flex-wrap: nowrap;
   height: 10%;
 }

 .child {
   width: 40%;
   height: 100px;
 }
=======
/* body {
   background-color: grey;
} */

.navbar {
   background-color: pink;
}

.logo {
   background-color: green;
   color: green;
}
>>>>>>> 60254cc52bf191b9a440eb50f3fc92ce8d0f2e01
