
.navbar {

   position: fixed;
   left: 0;
   bottom: 100;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   display: flex;
   align-items: flex-start;
   flex-wrap: nowrap;
   height: 10%;
 }

 .child {
   width: 40%;
   height: 100px;
 }


/* .navbar {
   background-color: pink;
} */

.logo {
   background-color: green;
   color: green;
}

