.container {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   height: 100%;
}

body {
   background-color: lavender;
}

.navbar {
   display: flex;
   flex-wrap: nowrap;
   height: 100px;
   width: 100%;
   background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
   color: black;
}

.logo {
   width: 25%;
}

.navlink {
   color: rgb(58, 56, 56);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   align-content: center;
}

.navchild {
   width: 25%;
   align-self: center;
   font-size: 20px;
}

.history {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   height: 100%;
}

.historychild {
   width: 30%;
   padding: 10px;
   margin: 5px;
}

.footer {
   color: white;
   position: fixed;
   bottom: 0;
   display: flex;
   align-items: flex-start;
   flex-wrap: nowrap;
   height: 10%;
   width: 100%;
   margin-top: 75%;
   background: rgb(217, 231, 255);
   background: radial-gradient(circle, rgba(217, 231, 255, 1) 0%, rgba(227, 255, 231, 1) 100%);
   font-size: 20px;
}

.footerchild {
   width: 25%;
   /* justify-content: center;
   position: fixed; */
   bottom: 0;
   align-self: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.socialmedia {
   width: 25%;
}

a {
   color: rgb(58, 56, 56);
}

a:hover {
   color: rgb(14, 214, 74);
}

p {
   font-weight: bold;
}

.homepage {
   text-align: center;
   margin-top: 15%;
   font-size: 50px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   height: 100%;
}

.creature_list {
   margin: 15px;
   width: 25%;
   border-style: solid;
   border-width: 2px;
   padding: 10px;
   border-color: grey;
   border-radius: 10px;
}

.add-creature-form {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.gender_input {
   display: flex;
   flex-direction: row;
   height: 100%;
}